@import url("./reset.css");


:root {
    --app-dark-bg: #1a1d28;
    --app-green: #33ab4e;
    --app-purple: #833cff;
    --app-orange: #ff833c;
    --app-red: #ff3c57;
    --app-red-hover: #ff2846;
    --app-orange-text: #ff6500;
    --app-light-gray: #f9f9f9;
    --app-white: #fff;
}

.container {
    width: min(100% - 30px, 1080px);
    margin-inline: auto;
}

body {
  background-color:var(--app-dark-bg);
  font-family: Arial, sans-serif;
  padding: 15px;
  padding-top: 50px;
}

h1 {
  text-align: center;
  color: var(--app-white);
}

form {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

#contact-info {
    height: 44px;
    width: 400px;
    color: var(--app-white);
    background-color:#3e4653;
    border-radius: 5px;
    margin: 0 20px;
    padding: 10px 15px;
    font-size: 17px;
}

button {
    width: 125px;
    height: 45px;
    border-radius: 50px;
    font-size: 17px;
    color: #fff;
    font-weight: 600;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 26px 30px -10px;
    transition: all 0.25s ease-in-out;
    cursor: pointer;
    background-color:var(--app-orange);
}


button:hover {
    background-color:var(--app-orange-text);
}

#count {
    width: 185px;
    height: 45px;
    border-radius: 25px;
    font-size: 18px;
    color: #fff;
    font-weight: 600;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 26px 30px -10px;
    transition: all 0.25s ease-in-out;
    background-color:var(--app-purple);
    text-align: center;
    margin: 45px auto;
    padding: 10px 10px;
    letter-spacing: 0.2;
}

#input {
    color:var(--app-white);
    text-align: center;
    height: 30px;
    font-size: 18px;
    margin-top: 20px;
}

.contact-list {
  display: grid;
  height: 400px;
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  grid-gap: 10px;
  color: #757575;
  background-color: #171A23;
  padding: 20px;
  border-radius: 5px;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 120px;
  cursor: pointer;
}

.contact-list > div {
    cursor: pointer;
}

p {
  font-size: 16px;
  width: 300px;
  height: 30px;
  box-sizing: border-box;
  background-color: #272931; 
  padding: 5px 10px 5px 10px;
}